* {
    margin: 1px;
}

.cursive {
    font-style: oblique;
}

body {
    background-color: whitesmoke;
}

.header {
    padding: 20px;
    background-color: lightpink;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.nav {
    
} 

.my-box {
    width: 450px;
    height: 600px;
    border: 10px solid lightpink;
    background-color: lightpink;
    padding: 30px;
}

.my-box img {
    width: 450px;
    height: 450px;
}

.my-box a {
    col
}




