* {
    margin: 1px;
}

.cursive {
    font-style: oblique;
}

body {
    background-color: whitesmoke;
}

.header {
    padding: 20px;
    background-color: lightpink;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.nav {
    
} 

img {
    width: 500px;
    height: 500px;
}

img {
    border: 50px solid lightpink;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}


